/* General stuff */

body {
  margin: 0;
  font-family: sans-serif;
  color: #111;
  background-color: #ddd;
}

header {
  margin-top: 0px;
  padding-left: 25px;
  text-align: left;
  position: fixed;
  width: 100%;
  height: 3em;
  font-size: 1.5em;
  font-weigth: bold;
  background: #ddd;
  border-bottom: 1px solid #000;

} 

main {
  padding-left: 25px;
  padding-top: 4em;
  padding-right: 25px;
  text-align: left;
}

hr {
  color: #888;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 1px;
  #text-decoration: underline;
  #text-decoration-color: blue;
}

h2 {
  font-size: 1.6em;	
}
  
p {
  font-size: 1.1em;
  line-height: 1;
}

/* Books gallery */

.books {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.books li {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
  line-spacing: 0.5em;
  text-align: center;
}

.books li img {
  border: 1px solid #777;
  height: 200px;
}

/* Photo gallery */

.photo_gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.photo_gallery img {
  border: 10px solid #fff;
  height: 400px;	
}



/* Footer */

footer {
  padding-left: 25px;
  padding-top: 5px;
  padding-right: 25px;
  text-align: left;
}

footer p {
  font-size: 0.8em;
  margin-top: 20px;
}

/* Responsiveness */

@media (max-width: 768px) {
 
  h1 {
    font-size: 1.8em;
  }

  h2 {
	font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
  
  .books li {
    font-size: 0.8em;
  }
  
  .books li img {
    height: 100px;
  }

  .photo_gallery li img {
    border: 5px solid #fff;
    height: 100px;
  }

  
}
